table{
    width: 900px;
    text-align: center;
    background-color: white;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%)
}
table, th, td{
    border: black 2px solid;
}
tr:nth-child(2){
    background-color: rgb(250, 250, 184);
}
